@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
$light: #e7e7e7;
$dark: #000000;

*, body, html {
  box-sizing: border-box;
  font-family: Orbiticon, sans-serif;
  text-align: center;
}

body{
  width: 100%;
  background: url(src/drums.jpg) 50% 0 no-repeat fixed;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  width: 800px;
  height: 540px;
  background-color: $dark;
  border: 2px solid $light;
  color: $light;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h1 {
    padding-top: 20px;
  }
}

#functional-components{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}

#pad-panel {
  display: grid;
  grid-template-columns: 110px 110px 110px;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  .drum-pad{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 90px;
    div {
      font-size: 2rem;
    }
  }
}

#control-panel{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  .control-bars{
    width: 100%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $light;
    border-radius: 5%;
    input {
      margin: 5px 5px;
    }
  }
}


#display {
  width: 100%;
  height: 35px;
  background-color: $dark;
  color: $light;
  border: 1px solid $light;
  border-radius: 5%;
  font-size: 1.25rem;
}

#control-buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  button {
    width: 40px;
    height: 40px;
    border-radius: 30%;
  }
}

.footer {
  height: 35px;
  color: $light;
  text-align: center;
  i {
    color:$light;
    margin-right: 5px;
  }
  a:active,
  a:hover,
  a {
    text-decoration: none;
    color: $light;
    padding-right: 35px;
    text-decoration: none;
    font-size: 1rem;
  }
}

@media screen and (max-width: 650px) {
  #drum-machine {
    height: 95vh;
    width: 95vw;
    #functional-components{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #pad-panel {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
      }
      #control-panel{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 60px 60px;
        grid-column-gap: 5vh;
        grid-row-gap: 5vw;
        grid-template-areas:
        "display buttons"
        "volume speed";
        #display {
          height: 40px;
          grid-area: display;
        }
        #volume-bar {
          grid-area: volume;
        }
        #speed-bar {
          grid-area: speed;
        }
        #control-buttons {
          grid-area: buttons;
          justify-content: space-evenly;
        }
      }
    }
  }
}